.example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

#container{
  width: 100%;
  /* width:'400'; */
  height:'400';
  background-color: #f7f7f7;
  background: white;
  float: left;
}
#editor {
    width: 90%;
    height: 300px;
    background: green;
    float: left;
}
#imagescroll {
    margin-left: 10%;
    height: 400px;
    background: grey;
    overflow-y: scroll
}
